@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: 'Passion One', cursive;
  --fonte3: 'Sriracha', cursive;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  background-color: white;
  font-family: var(--fonte1);
  overflow-x: hidden;
}

header {
  padding: 50px 0;
  color: white;
  background-color: black;
  text-align: center;
}

header h1 {
  font-family: var(--fonte2);
  font-size: 6em;
  font-variant: small-caps;
  margin-bottom: 20px;
}

header a, footer a {
  color: white;
  text-decoration: none;
}

header a:hover, footer a:hover {
  text-decoration: underline;
}

.estrofe {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 30px;
  line-height: 2em;
  font-family: var(--fonte3);
  font-size: 3vw;
  width: 50%;
}

.imagem {
  color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: right center;
  box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.5);
  width: 100%;
}

.imagem .conteudo {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px;
  display: inline-block;
}

#fundo1 {
  background-image: url('../imagens/background001.jpg');
}

#fundo2 {
  background-image: url('../imagens/background002.jpg');
}

footer {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: black;
  font-family: var(--fonte1);
}

/* Responsivo */
@media (max-width: 768px) {
  header {
    padding: 18px;
  }

  header h1 {
    font-size: 3em;
  }

  header p {
    font-size: 0.8em;
  }

  .estrofe {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .estrofe .conteudo {
    padding-left: 2px;
  }
}